ErrorModal {
  align: center middle;
}

ErrorModal>Vertical {
  background: $panel;
  height: auto;
  max_width: 60%;
  border: double $accent;
  border-title-align: center;
  align: center middle
}

ErrorModal>Vertical>#label {
  height: auto;
  margin: 1;
  align: center middle
}

ErrorModal>Vertical>Container>Label {
  text-align: center;
  text-overflow: fold;
  width: 100%;
}

ErrorModal>Vertical>#button_container {
  height: auto;

  margin: 1;
  align: center middle;
}

LoginModal {
  align: center middle
}

LoginModal>Vertical {
  background: $panel;
  height: auto;
  max_width: 80%;
  border: double $accent;
  border-title-align: center;
  align: center middle;
  padding: 1
}

LoginModal>Vertical>#label_container {
  height: auto;
  text-style: bold;
  margin: 1 0 0 0;
  align: center middle
}

LoginModal>Vertical>#login_container {
  height: auto;
  width: auto;
  padding: 1;
  align: center middle
}

LoginModal>Vertical>#login_container>#username_container {
  margin: 0 0 1 0;
  height: auto;
}

LoginModal>Vertical>#login_container>#username_container>Label {
  height: 3;
  content-align: left middle
}


LoginModal>Vertical>#login_container>#username_container>Input {
  height: auto;
  width: 1fr
}

LoginModal>Vertical>#login_container>#password_container {
  margin: 1 0 1 0;
  height: auto
}

LoginModal>Vertical>#login_container>#password_container>Label {
  height: 3;
  content-align: left middle
}

LoginModal>Vertical>#login_container>#password_container>Input {
  height: auto;
  width: 1fr
}

LoginModal>Vertical>#login_container>#button_container {
  height: auto;
  width: 100%;
  align: right middle
}

LoginModal>Vertical>#login_container>#button_container>Button {
  height: auto;
  margin: 0 2;
  width: 10;
  min_width: 6
}

LoginModal>Vertical>#login_container>#button_container>#exit_button {
  width: 5
}

ImplantationTreeModal {
  align: center middle;
}

ImplantationTreeModal>#modal_container {
  background: $panel;
  width: auto;
  height: 90%;
  max_width: 80vw;
  padding: 1 2;
  border: double $accent;
  border-title-align: center
}

ImplantationTreeModal>Vertical>#header_container {
  align: center middle;
  height: 10%
}

ImplantationTreeModal>Vertical>#header_container>#name_label {
  background: $boost;
  text-align: center;
  text_wrap: wrap;
  text-overflow: fold;
  width: 1fr;
  margin: 0 2
}

ImplantationTreeModal>Vertical>#buttons_container {
  padding: 1 0 0 0;
  height: auto;
}

ImplantationTreeModal>Vertical>#buttons_container>Horizontal {
  align: center middle;
  height: auto
}


ImplantationTreeModal>Vertical>#buttons_container>Horizontal>Label {
  height: 3;
  margin: 0 2;
  padding: 1;
}

ImplantationTreeModal>Vertical>#buttons_container>#close_button_container {
  height: auto;
  padding: 1 0 0 0;
  align: center middle
}
